#pinTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.myMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.myMasonryGrid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.myMasonryGrid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.pinInnerWrapper {
  position: relative;
}
.pinInnerWrapper button {
  margin: 5px;
  font-size: 15px;
}
.pinTitle {
  font-size: 18px;
}
.pinDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 100px;
}
.pinUrl {
  white-space: nowrap; 
  width: 70%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--mid-radius);
  padding: 5px 10px;
  cursor: pointer;
}
.pinUrl span {
  margin-left: 10px;
}

.pinDesc span {
  display: block;
}

.pinImg {
  border-radius: 15px;
}

.pinImg.darken {
  filter: brightness(85%);
}

.onHoverFeat {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 15px;
  height: 100%;
  width: 100%;
}
.onHoverFeat_foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.likeBtn {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding-top: 2px;
  height: 35px;
  width: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}