#pinTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.myMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.myMasonryGrid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.myMasonryGrid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.pinDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  max-height: 100px;
}

.pinDesc span {
  display: block;
}

.pinImg {
  border-radius: var(--mid-radius);
}