#footer {
  background: var(--dark);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#footer * {
  color: var(--white);
}

.footerTitle {
  margin-bottom: 10px;
  font-size: 18px;
}

#footerNavLinks a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--primaryColor);
}

#socials {
  display: flex;
  gap: 10px;
}

#nlForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#nlForm input {
  flex: 1;
  height: 100%;
  padding: 10px 15px;
  border-radius: var(--mid-radius);
  border: none;
  color: var(--dark)
}
#nlForm input:focus {
  outline: 3px solid var(--primaryColor);
}

#nlForm button {
  padding: 10px 15px;
  font-size: medium;
}

#copyright {
  font-size: 14px;
}