/* 
  --primaryColor: #AFA2E5, #ABA9FE;
  --accentColor: #E28A82;
  --darkAccentColor: #8C7D9A;
  --themeColor: #D69AFF;
  gradient: #B8C1E0, #E18854
 */

:root {
  --dark: #22231F;
  --white: #ffffff;
  --primaryColor: #d69aff;
  --accentColor: #E28A82;
  --darkAccentColor: #9568FF;
  --themeColor: #D69AFF;
  --mainFont: 'DM Sans';
  --mainSerifFont: 'DM Serif Text';
  --secondaryFont: 'Montserrat';
  --mid-radius: 20px;
  --small-radius: 5px;
  --shadow: rgba(0,0,0,.09) 0px 3px 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--mainFont), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

section,
footer {
  padding: 30px 60px;
  width: 100vw;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  font-size: inherit;
  font-family: inherit;
}

input::placeholder {
  color: inherit;
}
