@font-face {
  font-family: 'AlRagas-Eagng';
  src: url('/fonts/AlRagas-Eagng.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --dark: #232323;
  --white: #FFFFFF;
  --accentColor: #D69AFF;
  --darkAccentColor: #8C2ACF;
  --themeColor: #D69AFF;
  --mainFont: 'DM Sans';
  --mainSerifFont: 'DM Serif Display';
  --secondaryFont: 'Montserrat';
  --accentFont: 'AlRagas-Eagng';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--mainFont), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header,
section,
footer {
  padding: 40px;
  width: 100vw;
}