#homeHeader {
  background: var(--dark);
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#homeHeader h1 {
  color: var(--primaryColor);
}

#homeNav {
  background: var(--dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
}
#homeNav * {
  color: var(--white);
}

#homeSectionIntro {
  text-align: center;
}

#homeHeaderImgWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100vh * (776/1201));
}

#homeTitle {
  font-size: 60px;
}

#homeSubTitle {
  font-size: 30px;
  color: var(--white);
}

#features {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}