#homeHeader {
  background: var(--dark);
  border-bottom: 10px solid var(--primaryColor);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#homeHeader p {
  color: var(--white);
}
#homeHeader h1 {
  color: var(--primaryColor);
}

#homeNav {
  background: var(--dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
}
#homeNav * {
  color: var(--white);
}

#homeSectionIntro {
  text-align: center;
}

#homeHeaderImgWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100vh * (776/1201));
}

#homeTitle {
  font-size: 60px;
  background: -webkit-linear-gradient(var(--primaryColor), var(--accentColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#homeSubTitle {
  font-size: 30px;
  color: var(--white);
  letter-spacing: 1px;
}

#features {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

#headerIntro {
  max-width: 60%;
}

#goalForm {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin-bottom: 40px;
}

#goalForm span {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: var(--mid-radius);
  padding: 10px 15px;
  cursor: pointer;
}

#goalForm input {
  display: none;
}

#goalForm input:checked ~ span {
  background: var(--white);
  color: var(--darkAccentColor)
}