#formNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#formNav button {
  background: none;
  border: none;
  font-size: 1em;
  margin: 0;
}

#userForm {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#userForm main {
  background: var(--dark);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
#userForm main * {
  color: var(--white);
  text-align: center;
}

#userForm h1 {
  margin-bottom: 10px;
}

#userForm form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#userForm form button {
  margin-top: 40px;
}

#birthdayForm {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  line-height: 30px;
  max-width: 90%;
}

#birthdayForm input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--white);
  background: none;
  margin: 0 10px;
}

#birthdayForm input[type="date"]::-webkit-calendar-picker-indicator,
#birthdayForm input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#birthdayForm input:focus {
  outline: none;
  border-bottom: 1px solid var(--primaryColor);
}

#stepsCountWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#stepsCount {
  background: #C4C4C4;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
#stepsCount.active {
  background: var(--primaryColor);
}