#formNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}

#userForm {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#userForm main {
  background: var(--dark);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
#userForm main * {
  color: var(--white);
  text-align: center;
}

#userForm button {
  margin-top: 30px;
}