#userLayout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
}
#userLayout nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#sideNavWrapper {
  width: 40%;
  max-width: 400px;
  background: var(--dark);
}
#sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 400px;
  height: 100vh;
  padding: 20px;
  background: var(--dark);
  color: var(--white);
}
#sideNav > div {
  margin-top: 60px;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  max-width: 100%;
  overflow-y: hidden;
}

#mainContent_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.profilePic {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 2px solid var(--white);
  position: relative;
}
.profilePic button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  transform: translate(50%, -50%);
}

.activeNav {
  background-color: var(--primaryColor);
  border-radius: var(--mid-radius);
  padding: 5px 20px;
}