#userLayout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
}
#sideNavWrapper {
  width: 40%;
  max-width: 400px;
  background: var(--dark);
}
#sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 400px;
  height: 100vh;
  padding: 20px;
  background: var(--dark);
  color: var(--white);
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.profilePic {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 2px solid var(--white)
}