.serif {
  font-family: var(--mainSerifFont);
  letter-spacing: 1px;
}
.accentColor {
  color: var(--accentColor);
}
.primaryColor {
  color: var(--primaryColor);
}
.subtitle {
  margin-top: 0;
  font-size: 22px;
}
.mainBtn {
  background: linear-gradient(90deg, var(--darkAccentColor), var(--primaryColor));
  font-weight: 600;
  font-size: large;
  color: var(--white);
  padding: 10px 20px;
  border-radius: var(--mid-radius);
  border: none;
  box-shadow: rgba(214, 154, 255, 0.3) 0px 3px 12px;
}
.secondaryBtn {
  background-color: inherit;
  font-weight: 400;
  font-size: large;
  color: var(--primaryColor) !important;
  padding: 8px 20px;
  border-radius: var(--mid-radius);
  border: 2px solid var(--primaryColor);
}
.darkBtn {
  background-color: var(--dark);
  color: white;
  font-size: large;
  padding: 10px 20px;
  border-radius: var(--mid-radius);
  border: none;
}
.simpleBtn {
  color: var(--primaryColor);
  text-decoration: 1px underline var(--primaryColor);
  background: none;
  border: none;
  font-size: inherit;
}
.gradientBg {
  background: linear-gradient(135deg, rgb(255, 204, 51) 0%, rgb(226, 51, 255) 100%);
}
.inline_spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.inline_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}

.checkboxForm {
  flex: 0 !important;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin-bottom: 30px;
}

.checkboxForm span {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: var(--mid-radius);
  padding: 10px 15px;
  cursor: pointer;
}

.checkboxForm input {
  display: none;
}

.checkboxForm input:checked ~ span {
  background: var(--white);
  color: var(--darkAccentColor) !important;
}
.lineSeparator {
  height: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.lineSeparator hr {
  width: 100%;
  opacity: 0.5;
}
.lineSeparator span {
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.5;
}
.authForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.authForm input {
  border-radius: 15px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authForm input:focus {
  outline: none;
}
.authWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.authWrapper h1 {
  margin-bottom: 40px !important;
}
.authWrapper form {
  margin-top: 10px !important;
}
.authWrapper .mainBtn {
  margin-top: 0 !important;
}
.authBtn {
  width: 100%;
}
.card {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;
  border-radius: 15px;
  padding-bottom: 15px;
}
.card:hover {
  cursor: pointer;
}

.card > h2,
.card > p {
  margin: 10px 15px 0 15px;
}
.simpleNav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}
#loginPage {
  width: 100%;
  height: 100%;
  background: var(--dark);
  padding: 40px;
  flex: 1 1;
}
#loginPage * {
  color: var(--white);
}