.serif {
  font-family: var(--mainSerifFont);
}
.accent {
  font-family: var(--accentFont);
}
.mainBtn {
  background: var(--white);
  font-family: var(--mainSerifFont);
  color: var(--darkAccentColor);
  padding: 10px 20px;
  border-radius: var(--mid-radius);
}

.mainBtn * {
  color: var(--darkAccentColor);
}